.container{
  padding-left: 6em;
padding-bottom: 2em;

}
.headers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 6.5em;
}
.bigHeader{

  font-family: Montserrat;
  font-weight: 700;
  //font-size: 1.6em;
  font-size: 31px;
  line-height: 130%;
}


.viewAll{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-decoration-line: underline;
  color: #FFFFFF;
}


.cardContainer{
  display: flex;
  align-items: start;





}

.mayc{
  padding-top: 7em;
}


.maycheader{
  font-family: Montserrat;
  font-weight: 400 ;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.7;
}


.baycContainer{
  background: linear-gradient(90.3deg, rgba(218, 68, 83, 0.2) 4.5%, rgba(137, 33, 107, 0.2) 99.68%, rgba(196, 195, 195, 0.00208333) 99.69%, rgba(196, 196, 196, 0) 99.7%, rgba(137, 33, 107, 0.2) 99.7%, rgba(137, 33, 107, 0.2) 99.7%);
  border-radius: 50px 0px;
margin-top: 32px;
  height: 10em;
  padding-left: 2.5em;
  padding-top: 1.5em;

  //padding: 1.5em 2.2em;
  padding-right: 2.9em;
  display: block;
}

.baycHeader{
  font-family: Montserrat;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin: unset;
}

.paragraph{
margin: unset;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.cards{
  display: flex;
}
.singleCard{
  background: #1B1D23;
  box-shadow: 0px 4px 15px rgba(218, 68, 83, 0.15);
  border-radius: 10px;
margin-left: 1.5em ;
  padding: 22px;
}
.singleCardLast{
  background: #1B1D23;
  box-shadow: 0px 4px 15px rgba(218, 68, 83, 0.15);
  //border-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
margin-left: 1.5em ;
  //padding: 22px;
padding-bottom: 22px;
  padding-left: 22px;
  padding-top: 22px;
  padding-right: 0em;
}

.cardHeader{
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  /* identical to box height, or 100% */
padding-top: 0.8em;
  letter-spacing: 0.0075em;
margin: unset;
}

.links{
  margin: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.4em;
}

.cardLink{
  margin: unset;
  display: flex;
  font-family: Montserrat;
  font-weight: 700;
  align-items: center;
  background: linear-gradient(90.3deg, #DA4453 4.5%, #89216B 99.68%, rgba(196, 195, 195, 0.0104167) 99.69%, rgba(196, 196, 196, 0) 99.7%, #89216B 99.7%, #89216B 99.7%);

  //background: -webkit-linear-gradient(90.3deg, #DA4453 4.5%, #89216B 99.68%, rgba(196, 195, 195, 0.0104167) 99.69%, rgba(196, 196, 196, 0) 99.7%, #89216B 99.7%, #89216B 99.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.cardArrow{
  margin-left: 11px;
}